/* Ellipse 740 */

box-sizing: border-box;

position: absolute;
width: 1421.13px;
height: 1421.13px;
left: calc(50% - 1421.13px/2 + 0.48px);
top: 73.87px;

border: 0.94995px solid rgba(255, 255, 255, 0.6);

