/* Footer Section */
.mobile-footer {
  position: fixed;
  bottom: 0;
  width: 110%;
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
  z-index: 100;
}

.mobile-footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  border-radius: 20px 20px 0 0; 
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mobile-footer-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-footer-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.mobile-footer-add-icon {
  width: 40px;
  height: 40px;
  transform: scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-footer-add-icon:hover {
  transform: scale(1.3);
  opacity: 0.8;
}

/* 
 Network Dropdown  */
 .mobile-connections-card {
  position: absolute;
  background-color: #ffffff;
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
  padding: 20px; /* Internal padding */
  width: 200px; /* Constrain width for better layout */
  height: 250px;
  right: 12%;
  bottom: 55px;
  display: flex;
  align-items: center;
  flex-direction: column;
 gap: 10px;
}

.mobile-connections-card :nth-child(1) {
  box-shadow: 0 2px 5px 2px #a7e1eb7b;
}
.mobile-connections-card :nth-child(2) {
  box-shadow: 0 2px 5px 2px rgba(233, 149, 198, 0.429);
}
.mobile-connections-card :nth-child(3) {
  box-shadow: 0 2px 5px 2px #474fe96a;
}
.mobile-connections-card :nth-child(4) {
  box-shadow: 0 2px 5px 2px rgba(21, 75, 84, 0.338);
}
.mobile-connections-card :nth-child(5) {
  box-shadow: 0 2px 5px 2px #8d61e38c;
}
.mobile-connections-card :nth-child(6) {
  box-shadow: 0 2px 5px 2px #61e3798c;
}

.mobile-connections-item {
  width: 140px;
  border-radius: 20px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

