/* Parent Container */
.middle-middle-card {
  /* position: relative; */
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  /* height: 70vh; */
  height: auto; 
  /* min-height: 353px;  */
  margin-top: 30px;
  margin: auto;
  /* overflow: hidden; */
}

/* Profile Header */
.middle-profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}

.middle-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.middle-profile-info {
  flex-grow: 1;
}

.middle-profile-name {
  font-weight: bold;
}

.middle-options-icon {
  cursor: pointer;
  font-size: 24px;
  
}
.middle-post-time{
  margin-left: 10px;
}

/* Main Image */
.middle-main-image {
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding: 10px 20;
  height: 70vh;
}

.middle-content-image {
  width: 90%;
  border-radius: 10px;
}


.middle-action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.middle-connect-image {
  width: 120px;
}
.middle-connect-image:hover {
  transform: scale(1.2);
}

.middle-action-icons {
  display: flex;
  gap: 10px;
}

.middle-icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.middle-icon:hover {
  transform: scale(1.2);
}

/* Post Text */
.middle-post-text {
  font-size: 14px;
  padding-top: 10px;
}

.middle-post-author {
  font-weight: bold;
}

.middle-see-more {
  color: blue;
  cursor: pointer;
}
.middle-icon-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.middle-icon {
  font-size: 20px;
  transition: color 0.3s;
}

.middle-icon-count {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.liked {
  color: red;
}
.middle-post-text{
  border-bottom: 5px solid grey;
  width: 100%;
  margin: 20px 0px;
}