.Success-1{
  text-align: center;
}
.login-container-1{
  display: flex;
  flex-direction: column;
  align-items: center;

}


@media (max-width: 600px) {
  .u, .e {
    color: #DA3E39; /* U, E */
   
  }
  
  .n, .r {
    color: #38A3AC; /* N, R */
  }
  
  .i {
    color: #DFC463; /* I, I */
  }
  
  .s {
    color: #889095; /* S */
  }
  
  .p, .e {
    color: #E9877A; /* P, E */
  }
  
  .h {
    color: #A7829D; /* H */
  }
  

}