.leftsectiontop-1 {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  max-width: 380px;
}

.leftsectiontop-1-heading {
  margin-left: 14px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.leftsectiontop-1-article {

  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}


.leftsectiontop-1-image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  object-fit: cover;
}



.leftsectiontop-1-title {
  font-size: 12px;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
  
}

.leftsectiontop-1-author {
  font-size: 10px;
  color: #555;
}
