.bottom-message-main-container{
  display: flex;
  flex-direction: column;
 position: relative;
 z-index: 999;

}

.messages-widget {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  background: rgb(242, 215, 219);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  width: 350px;
  transition: all 0.3s ease-in-out;
}

.messages-widget:hover {
  background: rgb(235, 200, 205);

 
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.messages-text {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.icon {
  margin-left: auto;
 
}

/* Message drop -up section  */

.message-section {
  right: 5px;
  top: 110px;
  z-index: 99;
  position: fixed;
  width: 500px;
  height: 600px;
  border-radius: 35px;
  border: 1px solid black;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  background-color: hsl(0, 0%, 100%);
}
.message-section::-webkit-scrollbar {
  display: none;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unread {
background: linear-gradient(to bottom, #91f09877,#9cdbf265);
}

.drafts {
  background: linear-gradient(to bottom, #f8a1e548,#f5ed9e67);
}

.groups {
  background: linear-gradient(to bottom, #c19eff64,#ff969665);
}

.filters {
  background: linear-gradient(to bottom, #e998f661,#9cebf461);
}
.message-bubble {
  width: 80%;
}

 .message-btn{
  width: 90px;
  height: 30px;
  border-radius: 20px;
 }
 
.message-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.message-row {
  width: 90%;
  box-shadow: 4px 4px 4px #80898e;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px 7px;
  gap: 2px;
}
.name-and-timestamp {
  display: flex;
  gap: 10px;
  align-items: center;
}
.para-and-dot {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sender-name {
  font-weight: bold;
}

.timestamp {
  color: #808080;
  font-size: 12px;
}

.dot {
  border-radius: 50%;
  background-color: red;
  height: 12px;
  width: 12px;
}

.message-text {
  width: calc(100% -60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (width<=480px) {
  .message-section{
    display: none;
 
  font-size: 20px;
}

 