.desktop-blog-create-content {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px; /* Internal padding for content spacing */
}

.desktop-blog-create-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px; /* Space between icon and text */
}

.desktop-blog-create-header-heading {
  font-size: 20px;
  font-weight: 500;
}
.desktop-blog-create-backIcon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.desktop-blog-create-form {
  display: flex;
  flex-direction: column;
}

.desktop-blog-create-input-group {
  margin-bottom: 15px; /* Spacing between input groups */
}

.desktop-blog-create-label {
  font-weight: 500;
  margin-left: 15px;
  font-size: 16px;
  display: block;
}

.desktop-blog-create-input,
.desktop-blog-create-textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  font-size: 14px;
}

.desktop-blog-create-textarea {
  height: 100px;
  resize: none;
}

.desktop-blog-create-media-container {
  box-shadow: 4px 4px 4px #00000040, -4px -4px 4px #00000040,
    4px -4px 4px #00000040, -4px 4px 4px #00000040;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  height: 160px;
  justify-content: center;
}

.desktop-blog-create-upload-button {
  background-color: #003cffcc; /* Blue */
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 200px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.desktop-blog-create-instructional-text {
  font-size: 16px;
  font-weight: 500;
  color: #636161;
  line-height: 1;
}

.desktop-blog-create-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desktop-blog-create-button {
  background-color: #003cffcc;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}

.desktop-blog-create-cancel-button {
  background-color: #e6e6e5ed;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}
.desktop-blog-create-delete-button {
  background-color: #ee5757;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
}

.desktop-blog-create-label-and-input {
  display: flex;
  align-items: center;

  gap: 5px;
  width: 100%;
}
.desktop-blog-both-buttons {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.desktop-blog-create-update-button {
  border: none;
  background-color: #ffde07; /* Blue */
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.desktop-right-section-fixed {
  display: flex;
  justify-self: end;
  width: 30%;
}
.desktop-blog-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.desktop-blog-create-content-parent {
  display: flex;
  width: 70%;

  padding: 5px;
  justify-content: space-around;
}

/* /// Mobile section css  */

/* blog-create-styles.css */

.mobile-blog-create-container {
  
  width: 100%;
  margin-top: 10px;
    display: flex;
  align-items: center;
  flex-direction: column;
}
.blog-create-content {
  max-width: 500px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px; /* Internal padding for content spacing */
}

.blog-create-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px; /* Space between icon and text */
}

.blog-create-header-heading {
  font-size: 20px;
  font-weight: 500;
}
.blog-create-backIcon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.blog-create-form {
  display: flex;
  flex-direction: column;
}

.blog-create-input-group {
  margin-bottom: 15px; /* Spacing between input groups */
}

.blog-create-label {
  font-weight: 500;
  margin-left: 15px;
  font-size: 16px;
  display: block;
}

.blog-create-input,
.blog-create-textarea {
  width: 100%;
  padding: 10px;
  border: 1.5px solid #000000;
  border-radius: 20px;
  font-size: 14px;
}

.blog-create-textarea {
  height: 100px;
  resize: none;
}

.blog-create-media-container {
  box-shadow: 4px 4px 4px #00000040, -4px -4px 4px #00000040,
    4px -4px 4px #00000040, -4px 4px 4px #00000040;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  height: 160px;
  justify-content: center;
}

.blog-create-upload-button {
  background-color: #003cffcc; /* Blue */
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 200px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.blog-create-instructional-text {
  font-size: 16px;
  font-weight: 500;
  color: #636161;
  line-height: 1;
}

.blog-create-actions {
  display: flex;

  flex-direction: column;
  gap: 10px;
}
.blog-create-both-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
 
.blog-create-create-button {
  border: none;
  background-color: #1e4ff0;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}
.blog-create-delete-button {
  border: none;
  background-color: #f31818;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
.blog-create-update-button {
  border: none;
  color: #ffffff;
  background-color: #f3ff06;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.blog-create-cancel-button {
  border: none;
  background-color: #d4d4d7;
  border-radius: 20px;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.blog-container-footer {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}

/* // Media queries for mobile responsiveness */

@media (min-width: 748px) {
  .mobile-blog-create-container {
    display: none;
  }
}
@media (max-width: 748px) {
  .desktop-blog-main-parent-container {
    display: none;
  }
}
